<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SitebracoEntities1" connectionString="metadata=res://*/DbEntities.Sitebraco.csdl|res://*/DbEntities.Sitebraco.ssdl|res://*/DbEntities.Sitebraco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.91;initial catalog=Umbraco;user id=sa;password=cdx67a.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SitebracoEntities" connectionString="metadata=res://*/DbEntities.Sitebraco.csdl|res://*/DbEntities.Sitebraco.ssdl|res://*/DbEntities.Sitebraco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.91;initial catalog=Umbraco;user id=sa;password=cdx67a.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <remove name="umbracoDbDSN" />
    <add name="umbracoDbDSN" providerName="System.Data.SqlClient" connectionString="Data Source=10.16.56.135;Database=Sitebraco;user id=sa;password=Fsu1@1703;Connection Timeout=300;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>