
<div style="<% if(!ENG.cid){ %> display: none<% }%>" class="eng-panel-heading">
    <div class="eng-panel-heading-btn">
        <a title="Setting" class="eng-btn eng-settting-widget eng-btn-circle"><i class="fa fa-cog"></i></a>
        <a title="Save" style="<% if(id){ %> display: none<% }%>" class="eng-btn eng-save-widget eng-btn-circle"><i class="fa fa-save"></i></a>
        <a title="Remove" class="eng-btn eng-close-widget-content eng-btn-circle"><i class="fa fa-times"></i></a>
    </div>
    <h4 class="eng-panel-title"><%= nameWidget%></h4>
</div>
<div class="eng-container"></div>