<?xml version="1.0" encoding="utf-8" ?>


<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InfoTrendsAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ApiDBEntities" connectionString="metadata=res://*/DataContext.Model1.csdl|res://*/DataContext.Model1.ssdl|res://*/DataContext.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.39;Initial Catalog=ApiDB;Persist Security Info=True;User ID=sa;Password=cdx67a;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        <add name="InfoTrendsSMS" providerName="System.Data.SqlClient" connectionString="Data Source=74.93.254.46;Database=SMSDB;Uid=sa;Pwd=cdx67a;" />
    </connectionStrings>


    <!-- For more attributes, take a look at CorrugatedIron.Config.RiakNodeConfiguration.cs -->
    <riakConfig nodePollTime="30000" defaultRetryWaitTime="200" defaultRetryCount="3">
        <nodes>
            <node name="riak252" hostAddress="192.168.100.252" restScheme="http" pbcPort="8087" restPort="8098" poolSize="30" networkReadTimeout="30000" networkWriteTimeout="30000" />
            <node name="riak251" hostAddress="192.168.100.251" restScheme="http" pbcPort="8087" restPort="8098" poolSize="30" networkReadTimeout="30000" networkWriteTimeout="30000" />
            <node name="riak250" hostAddress="192.168.100.250" restScheme="http" pbcPort="8087" restPort="8098" poolSize="30" networkReadTimeout="30000" networkWriteTimeout="30000" />
            <node name="riak249" hostAddress="192.168.100.249" restScheme="http" pbcPort="8087" restPort="8098" poolSize="30" networkReadTimeout="30000" networkWriteTimeout="30000" />
        </nodes>
    </riakConfig>

    <appSettings/>

    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <InfoTrendsAPI.Properties.Settings>
            <setting name="InfoTrendsAPI_SearchQueryServiceProxy_QueryService"
                serializeAs="String">
                <value>http://google.capv.com/_vti_bin/search.asmx</value>
            </setting>
        </InfoTrendsAPI.Properties.Settings>
    </applicationSettings>
</configuration>