.eng-message-box .eng-message-box-model {
    width: 50%;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    z-index: 9999999999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    font: inherit;
    font-weight: normal;
    color: black;
    position: fixed;
    box-shadow: 0 10px 40px 0px #514f4f;
}

.eng-message-box .eng-blur {
    position: fixed;
    top: 0;
    left: 0;
    background: #cecece;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #000;
    opacity: .2;
    z-index: 9999999999999;
}

/************Media Querry************/
@media (max-width: 768px) {
    .eng-message-box-model {
        width: 300px;
    }
}


.eng-message-box .eng-message-box-body {
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    float: left;
    overflow: auto;
    box-sizing: border-box;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.eng-message-box .eng-message-box-footer {
    padding: 10px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}


.eng-message-box .eng-panel-message-box-heading {
    padding: 10px 15px;
    border: none;
    color: black;
    font-weight: bold;
    cursor: move;
}

.eng-message-box .eng-panel-title {
    color: black;
    font-size: 18px;
}

.eng-panel-message-box-heading .eng-panel-message-box-heading-btn {
    float: right;
    display: block !important;
}

    .eng-panel-message-box-heading .eng-panel-message-box-heading-btn a {
        width: 16px;
        height: 16px;
        line-height: 17px;
        display: inline-block;
        padding: 0;
        border: none;
        text-align: center;
    }

.eng-panel-message-box-heading .eng-btn {
    cursor: pointer;
}

    .eng-panel-message-box-heading .eng-btn.eng-btn-danger {
        color: #fff;
        background: #ff5b57;
        border-color: #ff5b57;
    }

    .eng-panel-message-box-heading .eng-btn.eng-btn-circle {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

input.eng-message-box-btn {
    display: inline-block;
    padding: 12px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    font-weight: 300;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    min-width: 40px;
}


input.eng-message-box-btn-ok {
    color: #fff;
    background: #348fe2;
    border-color: #348fe2;
}


input.eng-message-box-btn-cancel {
    font-weight: 400;
    color: #333;
    background: #fff;
    border-color: #e2e7eb;
}

    input.eng-message-box-btn-cancel:hover {
        background: #e2e7eb;
        border-color: #d8dde1;
    }


.eng-message-box .eng-btn .eng-btn-primary {
    font-weight: 400;
    color: #333;
    background: #fff;
    border-color: #e2e7eb;
}

.eng-message-box .eng-close-mesage-box {
    float: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.eng-message-box .eng-close-mesage-box:hover {
   color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}


