<!--<button id="btnFeedback" value="Feedback">Add Feedback</button>-->
<div class="eng-blur">
</div>
<div class="eng-message-box-model">
    <div class="eng-panel-message-box-heading">
        <div class="eng-panel-message-box-heading-btn">
            <a class="eng-close-mesage-box eng-btn eng-btn-circle eng-btn-danger"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="eng-panel-title"><%= headerText%></h4>
    </div>
    <div class="eng-message-box-body">
        <div class="eng-message-box-text"><%= messageText%></div>
        <div class="eng-message-box-custom"></div>
    </div>
    <div class="eng-message-box-footer">
        <input type="button" value="Cancel" class="eng-message-box-btn eng-message-box-btn-cancel" />
        <input type="button" value="OK" class="eng-message-box-btn eng-message-box-btn-ok" />
    </div>
</div>




