<div class="eng-header">
    <a class="eng-arrow-leftPanel"><i class="fa fa-chevron-circle-left"></i></a>
    <a class="eng-widget">
        <i class="<%= favicon %>"></i>
        <span class="eng-sub-menu-item-text">
            <%= title %>
        </span>
    </a>
    <a class="eng-arrow-rightPanel"><i class="fa fa-chevron-circle-right"></i></a>
    <a class="eng-addWidget">+Add Widget</a>
</div>
<div class="eng-container eng-menu">
    <!--<a href="#" class="eng-collapse-btn" id="engCollapse">
        <i class="eng fa fa-angle-double-left"></i>
    </a>-->
</div>